<div *ngIf="movie">
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.description }}</p>
    <p>

        <fa-icon [icon]="faStar" [ngClass]="{'orange':movie.avg_rating>0}"></fa-icon> 
        <fa-icon [icon]="faStar" [ngClass]="{'orange':movie.avg_rating>1}"></fa-icon> 
        <fa-icon [icon]="faStar" [ngClass]="{'orange':movie.avg_rating>2}"></fa-icon> 
        <fa-icon [icon]="faStar" [ngClass]="{'orange':movie.avg_rating>3}"></fa-icon> 
        <fa-icon [icon]="faStar" [ngClass]="{'orange':movie.avg_rating>4}"></fa-icon>
        ( {{ movie.no_of_ratings }} ) 
    </p>
    <div class="bar"></div>
    <div class="rating">
        <h1>Rate it !!!</h1>
        <fa-icon *ngFor="let rate of [1,2,3,4,5]" [icon]="faStar" class="star" (mouseenter)="getrating(rate)" [ngClass]="{'purple':rating>=rate}" (click)="ratingmovie(rate)"(mouseleave)="rating=0"></fa-icon> 

    </div>
    
     
</div>
