.app{
  background-color: rgb(57, 55, 55);   
  color: white;
  height: 100vh;
  padding-top: 100px;
  padding-left: 100px;
}
h1{
    text-align: center;
    color: rgb(255, 153, 0);
}
.icon{
  color: red;
  font-size: 40px;
  margin-top: 20px;
  transform: rotate(30deg);
}